* {
  margin: 0;
  padding: 0;
}
.App {
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  max-height: auto;
  margin: 0 auto;
  background-color: aliceblue;
}
